body {
  padding: 0;
  margin: 0;
  background-color: #aed6f1;
  height: 0px;
}
::placeholder {
  font-size: 20px;
  font-weight: bolder;
}
input {
  height: 60px;
  width: 300px;
  margin: 108px 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
input#doller {
  margin-left: 300px;
  background-image: url(../img/doller.jpg);
  background-size: cover;
  border-top: 10px groove #1a237e;
  border-left: 10px groove#FDFEFE;
  border-right: 10px groove#FDFEFE;
  border-bottom: 10px groove #cc0000;
}
input#inr {
  background-image: url(../img/india.jpg);
  background-size: cover;
  border-top: 10px groove #ff5722;
  border-left: 10px groove#FDFEFE;
  border-right: 10px groove#FDFEFE;
  border-bottom: 10px groove #1b5e20;
}
#converter {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  border: 10px inset whitesmoke;
}
#reset {
  padding: 10px 35px;
  font-size: 20px;
  font-weight: bolder;
  border: 10px outset whitesmoke;
}
#error {
  text-align: center;
  font-size: 40px;
  margin-top: -40px;
  font-family: "Lobster", cursive;
  color: red;
}
