body {
  margin: 0;
  padding: 0;
  background-color: #85c1e9;
}
#clock {
  background-image: url(sunset.jpg);
  background-size: cover;
  height: 300px;
}
#liveClock {
  font-family: "Ubuntu", sans-serif;
  font-size: 100px;
  color: black;
  padding-top: 45px;
  text-align: center;
}
