body {
  background-color: black;
}
.dice-board {
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  margin-top: 55px;
  margin-left: 450px;
}
#roll-btn {
  height: 113px;
  width: 113px;
  margin: 245px 243px;
  font-size: 30px;
  font-weight: bolder;
}
.red {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 45px 45px;
  background-size: cover;
}
.green {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 44px 400px;
  background-size: cover;
}
.blue {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 406px 45px;
  background-size: cover;
}
.yellow {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 406px 400px;
  background-size: cover;
}
