* {
  font-family: "Yantramanav", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-image: url(../img/counter.jpg);
}
table {
  margin: 100px auto;
  border-spacing: 10px;
}
input {
  height: 40px;
  font-size: 45px;
  padding-top: 5px;
  border-radius: 30px;
  border-color: #2196f3;
  border: 5px groove #33691e;
}
::placeholder {
  color: #33691e;
  text-align: center;
  font-family: "Emblema One", cursive;
}
#min {
  height: 55px;
  width: 55px;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 50%;
  /* background-color: #85C1E9; */
  border: 5px inset #33691e;
}
#max {
  height: 55px;
  width: 55px;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 50%;
  border: 5px inset #33691e;
}
#reset {
  height: 55px;
  width: 100px;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 30px;
  border: 5px outset #33691e;
  font-family: "Emblema One", cursive;
}
#error {
  color: whitesmoke;
  margin-left: 100px;
  margin-top: 10px;
  font-family: "Emblema One", cursive;
  font-size: 30px;
}
