body {
  padding: 0;
  margin: 0;
  background-color: black;
}
table {
  margin: auto;
}
.tempConverter {
  background-image: url(img/bg.jpg);
  height: 600px;
  width: 800px;
  background-size: cover;
  margin: 0px 370px;
}
input {
  text-align: center;
  height: 40px;
  width: 280px;
  font-size: 25px;
}
select {
  height: 30px;
  width: 288px;
  font-size: 20px;
}
#error {
  text-align: center;
  background-color: white;
  height: 30px;
  padding-top: 10px;
  font-weight: bolder;
}
button {
  height: 30px;
  font-size: 15px;
  width: 288px;
  font-weight: bolder;
}
select {
  text-align-last: center;
}
#Convert {
  background-color: #2ecc71;
}
#reset {
  background-color: #f1c40f;
}
