body {
  padding: 0;
  margin: 0;
  background-image: url(../img/formBg.jpg);
  background-size: cover;
  font-family: "Varela Round", sans-serif;
  color: white;
  font-size: 25px;
}
span {
  color: red;
  font-weight: bolder;
  font-size: 20px;
}
#form {
  width: 900px;
  height: 300px;
  margin: 100px 450px;
}
table td {
  padding: 5px;
}
input {
  height: 30px;
  font-size: 20px;
}
button {
  font-weight: bolder;
  padding: 6px 10px;
  font-size: 15px;
}
