body {
  padding: 0;
  margin: 0;
  background-image: url(../img/cal.jpg);
}
input {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px 15px;
  color: black;
  border-radius: 50%;
}

#calculator {
  margin: 80px auto;
  width: 335px;
  background-color: #1f80c9;
}
#display {
  width: 290px;
  height: 50px;
  text-align: center;
  background-color: whitesmoke;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 17px;
  border-radius: 10px;
}
