body {
  font-family: "Anton", sans-serif;
  font-family: "Arimo", sans-serif;
}
.left {
  width: 40%;
  height: 718px;
  border: 20px solid white;
  border-right: 20px;
  background-color: black;
}
.right {
  width: 60%;
  border: 20px solid white;
  border-left: 20px;
}
#title {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 10px;
  margin-left: 50px;
}
input {
  margin-bottom: 15px;
  width: 595px;
  margin-left: 50px;
}
::placeholder {
  padding: 10px;
  font-size: 18px;
}
#location,
#follow-us {
  margin-left: 50px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 10px;
}
#address {
  font-size: 20px;
  margin-left: 50px;
}
#copyright {
  margin-left: 50px;
}
#fb {
  margin-left: 50px;
}
textarea {
  margin-left: 50px;
}
button {
  margin-left: 50px;
}
