body {
  background-color: #fdd835;
  padding: 0;
  margin: 0;
}
button {
  height: 100px;
  width: 100%;
  background-color: #fdd835;
  border: #fdd835;
  font-size: 30px;
  font-weight: bolder;
  margin: 120px 10px;
  letter-spacing: 6px;
}
p {
  font-size: 30px;
  font-weight: bolder;
  margin: -100px 600px;
  border: 5px groove black;
  padding: 10px;
  padding-right: -35px;
  width: 270px;
}
