body {
  background-color: #2c3e50;
  color: whitesmoke;
}
#heading {
  margin-top: 30px;
  color: whitesmoke;
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
}
.header span {
  background-color: gray;
}
table,
input {
  text-align: center;
}
th,
td {
  width: 250px;
}
button {
  margin-top: 10px;
  height: 30px;
  font-size: 15px;
}
#add-more {
  margin-left: 85px;
}
